{% extends 'base.html' %}

{% block title %}Glorptown USA!{% endblock %}

{% block list %}
<li>
    <a href="{{url_for('admin')}}" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Admin</a>
</li>
{% endblock %}

{% block content %}
<div class="flex flex-row gap-x-6 items-start justify-center bg-gray-900 p-8">
    <div class="bg-gray-800 shadow-lg p-8 w-full max-w-lg rounded-lg">
        <h2 class="text-center text-2xl font-semibold mb-6 text-white">Register a Map, Mod or Gamemode</h2>

        <div class="text-area mb-6 p-4 bg-blue-100 rounded-lg text-blue-700">
		<p class="text-center">Make sure its <strong>Linux</strong> compatible!</p>
        </div>

        <form method="POST" action="{{ url_for('new_item') }}" class="text-white">
            <h1 class="text-xl text-white mt-4 text-center pb-6">Add Item (Map, Mod, Gamemode)</h1>
            {{ new_item_form.hidden_tag() }}
            <div class="mb-4">
		<div>{{ new_item_form.type.label }} {{ new_item_form.type }}</div>
                {{ new_item_form.name.label }} {{ new_item_form.name }}
                {{ new_item_form.id.label }} {{ new_item_form.id }}
            </div>
            {{ new_item_form.submit() }}
        </form>
	<div class="pt-4">
		<button id="queryBtn" class="bg-sky-500 disabled:bg-sky-900 hover:bg-sky-700 text-white py-2 px-5 rounded-full font-bold text-md transition duration-300">Query for Title</button>
	</div>
    </div>
</div>

<div class="flex flex-row gap-x-6 items-start justify-center bg-gray-900 p-8">
    <div class="bg-gray-800 shadow-lg p-8 w-full max-w-lg rounded-lg">
        <h2 class="text-center text-2xl font-semibold mb-6 text-white">Server Status</h2>
	<div class="bg-gray-800 text-white p-4 rounded-lg w-full">
	    <div class="grid grid-cols-3 gap-4 text-center">
		<div>
		    <p class="text-xl font-semibold">Player Count</p>
		    <p class="text-lg font-normal">{{ player_count }}</p>
		</div>
		<div>
		    <p class="text-xl font-semibold">Map</p>
		    <p class="text-lg font-normal">{{ map_name }}</p>
		</div>
		<div>
		    <p class="text-xl font-semibold">Gamemode</p>
		    <p class="text-lg font-normal">{{ gamemode_name }}</p>
		</div>
	    </div>
	</div>
    </div>
</div>


<div class="flex flex-row gap-x-6 items-start justify-center bg-gray-900">
    <a href="{{url_for('new_modpack')}}" class="bg-sky-500 hover:bg-sky-700 text-white py-2 px-5 rounded-full font-bold text-md transition duration-300">New Modpack</a>
    <a href="{{url_for('new_profile')}}" class="bg-sky-500 hover:bg-sky-700 text-white py-2 px-5 rounded-full font-bold text-md transition duration-300">New Profile</a>
</div>


<div class="flex flex-row gap-x-6 items-start justify-center min-h-screen bg-gray-900 p-8">
    <div class="bg-gray-800 shadow-lg p-2 w-full max-w-xs rounded-lg h-[80vh]">
        <div class="h-full overflow-y-auto p-4 rounded-lg">
            <h1 class="text-xl text-white my-4 text-center">Mods</h1>
	    <input type="text" id="searchModsInput" placeholder="Search mods" class="w-full p-2 mb-3 rounded-lg bg-gray-700 text-white focus:outline-none">
            <ul id="modList">
                {% for mod in mods %}
                <li class="py-2 border-b border-gray-600 text-white">
                    <a href="{{url_for('mod', id=mod.id)}}" class="mod-item">{{ mod.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="bg-gray-800 shadow-lg p-2 w-full max-w-xs rounded-lg h-[80vh]">
        <div class="h-full overflow-y-auto p-4 rounded-lg">
            <h1 class="text-xl text-white my-4 text-center">Gamemodes</h1>
	    <input type="text" id="searchGamemodesInput" placeholder="Search gamemodes" class="w-full p-2 mb-3 rounded-lg bg-gray-700 text-white focus:outline-none">
            <ul id="gamemodeList">
                {% for gamemode in gamemodes %}
                <li class="py-2 border-b border-gray-600 text-white">
                    <a href="{{url_for('gamemode', id=gamemode.id)}}" class="gamemode-item">{{ gamemode.name }}</a>
                </li>             
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="bg-gray-800 shadow-lg p-2 w-full max-w-xs rounded-lg h-[80vh]">
        <div class="h-full overflow-y-auto p-4 rounded-lg">
            <h1 class="text-xl text-white my-4 text-center">Maps</h1>
	    <input type="text" id="searchMapsInput" placeholder="Search maps" class="w-full p-2 mb-3 rounded-lg bg-gray-700 text-white focus:outline-none">
            <ul id="mapList">
                {% for map in maps %}
                <li class="py-2 border-b border-gray-600 text-white">
                    <a href="{{url_for('map', id=map.id)}}" class="map-item">{{ map.name }}</a>
                </li>    
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="bg-gray-800 shadow-lg p-2 w-full max-w-xs rounded-lg h-[80vh]">
        <div class="h-full overflow-y-auto p-4 rounded-lg">
            <h1 class="text-xl text-white my-4 text-center">Modpacks</h1>
            <input type="text" id="searchModpacksInput" placeholder="Search modpacks" class="w-full p-2 mb-3 rounded-lg bg-gray-700 text-white focus:outline-none">
	    <ul id="modpackList">
                {% for modpack in modpacks %}
 
                <li class="py-2 border-b border-gray-600 text-white">
                    <a href="{{url_for('modpack', id=modpack.id)}}" class="modpack-item">{{ modpack.name }}</a>
                </li>          
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="bg-gray-800 shadow-lg p-2 w-full max-w-xs rounded-lg h-[80vh]">
        <div class="h-full overflow-y-auto p-4 rounded-lg">
            <h1 class="text-xl text-white my-4 text-center">Profiles</h1>
	    <input type="text" id="searchProfilesInput" placeholder="Search profiles" class="w-full p-2 mb-3 rounded-lg bg-gray-700 text-white focus:outline-none">
	    <ul id="profileList">
                {% for profile in profiles %}
                <li class="py-2 border-b border-gray-600 text-white">
                    <a href="{{url_for('profile', id=profile.id)}}" class="profile-item">{{ profile.name }}</a>
                </li>                
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script>
	const queryBtn = document.getElementById("queryBtn"); queryBtn.disabled = true;
	const ugcidTextbox = document.getElementById("newItemId");
	const nameTextbox = document.getElementById("newItemName");

	document.addEventListener("DOMContentLoaded", function () {
	    ugcidTextbox.addEventListener("input", function () {
		if (ugcidTextbox.value.length === 7) {
		    queryBtn.disabled = false;
		    console.log("enabled");
		}
	    });
	    
	    ugcidTextbox.addEventListener("input", function () {
		if (ugcidTextbox.value.length != 7) {
		    queryBtn.disabled = true;
		    console.log("disabled");
		}
	    });
	});

	queryBtn.addEventListener("click", async function() {  // Make the function async
	    ugcid = ugcidTextbox.value;
	    let title = await sendUgcQuery(ugcid); // Wait for the async function to resolve

	    if (title == null) {} else {
		nameTextbox.value = title;
	    }
	});

	async function sendUgcQuery(ugcid) {  // Make this function async
	    const data = { ugc: ugcid };

	    try {
		const response = await fetch(`{{url_for('query_ugc')}}`, {
		    method: "POST",
		    headers: {
			"Content-Type": "application/json"
		    },
		    body: JSON.stringify(data)
		});

		const responseData = await response.json();
		return responseData['title'];  // Return the data properly
	    } catch (error) {
		console.error("Error:", error);
		return "";  // Return an empty string in case of an error
	    }
	}

    document.getElementById("searchModsInput").addEventListener("input", function() {
	let filter = this.value.toLowerCase();
	let items = document.querySelectorAll("#modList .mod-item");

	items.forEach(item => {
	    let text = item.textContent.toLowerCase();
	    item.parentElement.style.display = text.includes(filter) ? "" : "none";
	});
    });
    document.getElementById("searchMapsInput").addEventListener("input", function() {
	let filter = this.value.toLowerCase();
	let items = document.querySelectorAll("#mapList .map-item");

	items.forEach(item => {
	    let text = item.textContent.toLowerCase();
	    item.parentElement.style.display = text.includes(filter) ? "" : "none";
	});
    });
    document.getElementById("searchGamemodesInput").addEventListener("input", function() {
	let filter = this.value.toLowerCase();
	let items = document.querySelectorAll("#gamemodeList .gamemode-item");

	items.forEach(item => {
	    let text = item.textContent.toLowerCase();
	    item.parentElement.style.display = text.includes(filter) ? "" : "none";
	});
    });
    document.getElementById("searchModpacksInput").addEventListener("input", function() {
	let filter = this.value.toLowerCase();
	let items = document.querySelectorAll("#modpackList .modpack-item");

	items.forEach(item => {
	    let text = item.textContent.toLowerCase();
	    item.parentElement.style.display = text.includes(filter) ? "" : "none";
	});
    });
    document.getElementById("searchProfilesInput").addEventListener("input", function() {
	let filter = this.value.toLowerCase();
	let items = document.querySelectorAll("#profileList .profile-item");

	items.forEach(item => {
	    let text = item.textContent.toLowerCase();
	    item.parentElement.style.display = text.includes(filter) ? "" : "none";
	});
    });
</script>
{% endblock %}
