{% extends 'base.html' %}

{% block title %}Modpack Viewer{% endblock %}

{% block list %}
<li>
    <a href="{{url_for('logout')}}" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Logout</a>
</li>
<li>
    <a href="{{url_for('index')}}" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Home</a>
</li>
<li>
    <a href="{{url_for('admin')}}" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Admin</a>
</li>
{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="bg-gray-800 rounded-lg shadow-lg p-8 w-full max-w-md">
        <h2 class="text-center text-white text-2xl font-semibold mb-6">View {{ type }} Details</h2>
        <div class="mb-4 text-white">
            <p>Modpack Name: <strong>{{ modpack.name }}</strong></p>
            <p>Modpack Mods: 
                <strong>
                    <ul>
                    {% for mod in modpack.mods %}
                    <li>
                        <a href="{{url_for('mod', id=mod.id)}}" class="py-2 border-b border-gray-600 text-white">{{ mod.name }}</a>
                    </li>   
                    {% endfor %}
                    </ul>
                </strong>
            </p>
        </div>
    </div>
</div>
{% endblock %}
