{% extends 'base.html' %}

{% block title %}New Profile{% endblock %}

{% block list %}{% endblock %}

{% block content %}
<body class="bg-gray-900 text-black flex flex-col min-h-screen">
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div>
            {{ form.name.label }}<br>
            {{ form.name }}<br>

            {{ form.map.label }}<br>
            {{ form.map }}<br>

            {{ form.gamemode.label }}<br>
            {{ form.gamemode }}<br>

            {{ form.modpack.label }}<br>
            {{ form.modpack }}<br>

            {{ form.submit() }}
        </div>
    </form>
</body>
{% endblock %}