   	<h2 class="text-center text-2xl font-semibold mb-6 text-white">Next</h2>
	<div class="bg-gray-800 text-white p-4 rounded-lg w-full">
	    <div class="grid grid-cols-3 gap-4 text-center">
		<div>
		    <p class="text-xl font-semibold">Map</p>
		    <p class="text-lg font-normal">{{ next_map_name }}</p>
		</div>
		<div>
		    <p class="text-xl font-semibold">Gamemode</p>
		    <p class="text-lg font-normal">{{ next_gamemode_name }}</p>
		</div>
		<div>
		    <p class="text-xl font-semibold">Next Modpack</p>
		    <p class="text-lg font-normal">{{ next_gamemode_name }}</p>
		</div>
	    </div>
	</div> 
